<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

<header>
<nav>
    <a href="first.html">First page!</a>
    <a href="second.html">Second page!</a>
    <a href="third.html">Third page!</a>
    <a href="fourth.html">Fourth page!</a>
</nav>
</header>

<style>
    header{
        margin: 0 auto;
    }

    nav{
        margin: 0 auto;
        padding: 10px 10px 10px 10px;
        background-color: grey;
        text-align: center;
    }

    nav a{
        text-decoration: none;
        color: white;
    }
</style>


</body>
</html>